<mat-card [formGroup]="addForm" class="add-card">
    <mat-form-field class="user-add-field">
        <mat-label>Имя</mat-label>
        <input matInput cdkFocusInitial formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="user-add-field">
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>
    <button mat-raised-button (click)="add()">Добавить</button>
</mat-card>
<table #table mat-table [dataSource]="data" class="mat-elevation-z3 users-table">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Фамилия</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
