<h1 mat-dialog-title>Редактирование пользователя</h1>
<div class="dialog-content" mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput cdkFocusInitial formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Ok</button>
</div>
